$verde1: #87ba1d;     // tom do "INÍCIO" ativo e do logo
$cinza-texto: #333;
$cinza-escuro: #222;
$font: 'Roboto', sans-serif;


.header {
    background: white;
    width: 100%;
    font-family: $font;

    .container {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        margin: 0px 70px;
    }

    .logo {
        height: 70px; // ajusta ao tamanho do logótipo real
    }

    .header-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .login-area {
            display: flex;
            align-items: center;
            gap: 8px;

            .icone {
                display: flex; 
                align-items: center;
                width: 50px;
                height: 50px;
                //border: solid red;
            }

            .entrar {
                color: #212529;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 13px;
                padding: 0px 10px 0px 0px;
                span:nth-child(2) {
                    font-weight: bold;
                    color: $verde1;
                }
            }
        }

        .language-selector {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $verde1;
            font-size: 16px;
            color: $cinza-escuro;
            font-size: 14px;
            padding-right: 10px;
        }
    }
}

// NAVBAR
.navbar {
    margin: 0px 70px;
    border: solid blue;


    .menu {
        //max-width: 1300px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 0px 0px;
        list-style: none;
        font-size: 16px;

        li {
            a {
                text-decoration: none;
                color: $cinza-texto;
                font-size: 15px;
                letter-spacing: 0.5px;

                &:hover {
                    color: $verde1;
                }
            }

            &.active a {
                background: $verde1;
                padding: 8px 16px;
                color: $cinza-texto;
                &:hover {
                    color:white;
                }
            }
        }
    }
}

// Formulário

$verde: #8bc53f;
$cinza: #333;
$white: #fff;
$shadow: rgba(0,0,0,0.25);

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: $font;
    border: solid red;

    img {
        max-width: 100%;
        height: auto;
        width: 100%;
        display: block;
        position: relative;
        border: solid blue;
    }


        // Caixa de pesquisa
        .search-box {
            position: absolute;
            background: #f2f2f2;
            padding: 25px;
            max-width: 500px;
            border: solid #87ba1d80 15px;
            color: $cinza;

            h4 {
                border: solid red;
                text-align: center;
                text-decoration: bold;
                font-size: 2rem;
                margin-bottom: 20px;
                color: $cinza;
            }

            form {
                border: solid red;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .form-row {
                    border: solid blue;
                    width: 50%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 0.75rem;
                        margin-bottom: 3px;
                    }

                    input,
                    select {
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }

                    &.full {
                        width: 100%;
                    }
                }

                .btn-search {
                    width: 100%;
                    padding: 10px;
                    background: $verde;
                    color: $white;
                    border: none;
                    border-radius: 4px;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-top: 10px;

                    &:hover {
                        background: darken($verde1, 10%);
                    }
                }
            }
        }
    }
//}


