$verde1: #87ba1d;     // tom do "INÍCIO" ativo e do logo
$cinza-texto: #333;
$cinza-escuro: #222;
$font: 'Roboto', sans-serif;

$verde: #8bc53f;
$cinza-claro: #f2f2f2;
$white: #fff;


.header {
    background: white;
    width: 100%;
    font-family: $font;


    .container {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;
        margin: 0px 70px;
    }

    .logo {
        height: 70px; // ajusta ao tamanho do logótipo real
    }

    .header-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px; //afastamento entre linguagem e login

        .login-area {
            display: flex;
            align-items: center;
            gap: 8px;

            .icone {
                display: flex; 
                align-items: center;
                width: 50px;
                height: 50px;
            }

            .entrar {
                color: #212529;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 13px;
                padding: 0px 10px 0px 0px;
                span:nth-child(2) {
                    font-weight: bold;
                    color: $verde1;
                }
            }
        }

        .language-selector {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $verde1;
            font-size: 16px;
            color: $cinza-escuro;
            font-size: 14px;
            padding-right: 10px;
        }
    }
}

//* * * * *  NAVBAR * * * * * //
.navbar {
    margin: 0px 70px;
    border: solid blue;


    .menu {
        //max-width: 1300px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 0px 0px;
        list-style: none;
        font-size: 16px;


        li {
            a {
                text-decoration: none;
                color: $cinza-texto;
                font-size: 15px;
                letter-spacing: 0.5px;

                &:hover {
                    color: $verde1;
                }
            }

            &.active a {
                background: $verde1;
                padding: 8px 16px;
                color: $cinza-texto;
                &:hover {
                    color:white;
                }
            }
        }
    }
}

//* * * * *  Formulário * * * * * //



.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    font-family: $font;
    border-bottom: solid 15px $cinza-claro;
    position: relative;
    z-index: 1;

    img {
        max-width: 100%;
        height: auto;
        width: auto;
        //display: block;
    }


        // Caixa de pesquisa
        .search-box {
            display:flex;
            flex-direction: column;
            background: #f2f2f2;
            color: $cinza-texto;
            border-top: solid #87ba1d80 15px;
            border-left: solid #87ba1d80 15px;
            border-right: solid #87ba1d80 15px;
            padding: 10px 20px 0px 20px;
            margin: 0;  
            position: absolute;
            z-index: 2;


                .form-row {
                    display: flex;
                    justify-content: center; //Eixo horizontal X
                    align-items: center; //Eixo vertical Y
                    //gap: 25px;
                    margin: 2px;
                    height: 40px;
                    width: 100%;
                    border: solid 1px blue;

                        h1 {
                             font-size: 1.5rem;
                             font-weight: bold;
                         }

                        .form-row-container-left {
                            display: flex;
                            width: 100%;
                            padding: 5px 15px 5px 0px;//encosta á esquerda
                            border: solid 2px orange;
                        }

                        .form-row-container-right {
                            display: flex;
                            width: 100%;
                            padding: 5px 0px 5px 15px;//encosta á direita
                            border: solid 2px greenyellow;

                        }

                        input, select {
                           border: solid 1px purple;
                           border-radius: 5px;
                           padding: 8px;//espaçamento interno seletores
                           width: 100%;
                        }

                        span {
                           display: block ;
                           font-size: 1rem;
                           text-align: left;
                        }

                }

                .btn-search {
                    width: 50%;
                    padding: 10px;
                    background: $verde;
                    color: $white;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;
                    
                    &:hover {
                        background: darken($verde1, 10%);
                    }
                }
            }
}

//* * * * *  Frota* * * * * //  
    
#frota {
    margin: 0px 109px 0px 109px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px red;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: solid 2px orange;
            
            h2 {
                padding: 10px 10px;
                font-family: $font;
                color: $verde;
                font-size: 32px;
                
            }

            .slideshow {
                display:flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                background-color: blue;
                height: 200px;
                border:solid 2px red;

                .carro1,
                .carro2,
                .carro3,
                .carro4 {
                    border: solid 2px green;
                    height: 100%;
                    width: 100%;
                }
            }


        }

    }




















    //* * * * *  NOTICIAS * * * * * //

    .noticias {
        display: grid;
        //grid-template-rows: auto auto;
        //grid-template-columns: repeat(3, 1fr);
        //gap: 20px;
        text-align: center;
        border: solid 2px red;
        margin: 50px;//falta ajustar !!!

        
        .linha1 {
        grid-column: 1 / span 3; /* Ocupa as 3 colunas */
        border: solid 2px red;
        //padding: 20px;
        }

        .linha2 {
        border: solid 2px green;
        grid-column: 3 / span 1; /* Ocupa a 3ª coluna */
    
        }

        .linha3 {
        border: solid 2px blue;
        grid-column: 3 / span 1; /* Ocupa a 3ª coluna */
        //padding: 20px;
        
            img {
                width: 400px;
                height: auto;
            }
    
    
        }


    }