.header {
  background: white;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.header .container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 0px 70px;
}
.header .logo {
  height: 70px;
}
.header .header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header .header-actions .login-area {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .header-actions .login-area .icone {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
.header .header-actions .login-area .entrar {
  color: #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  padding: 0px 10px 0px 0px;
}
.header .header-actions .login-area .entrar span:nth-child(2) {
  font-weight: bold;
  color: #87ba1d;
}
.header .header-actions .language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #87ba1d;
  font-size: 16px;
  color: #222;
  font-size: 14px;
  padding-right: 10px;
}

.navbar {
  margin: 0px 70px;
  border: solid blue;
}
.navbar .menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
  list-style: none;
  font-size: 16px;
}
.navbar .menu li a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.navbar .menu li a:hover {
  color: #87ba1d;
}
.navbar .menu li.active a {
  background: #87ba1d;
  padding: 8px 16px;
  color: #333;
}
.navbar .menu li.active a:hover {
  color: white;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  border: solid red;
}
.hero img {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
  position: relative;
  border: solid blue;
}
.hero .search-box {
  position: absolute;
  background: #f2f2f2;
  padding: 25px;
  max-width: 500px;
  border: solid rgba(135, 186, 29, 0.5019607843) 15px;
  color: #333;
}
.hero .search-box h4 {
  border: solid red;
  text-align: center;
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}
.hero .search-box form {
  border: solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.hero .search-box form .form-row {
  border: solid blue;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero .search-box form .form-row label {
  font-size: 0.75rem;
  margin-bottom: 3px;
}
.hero .search-box form .form-row input,
.hero .search-box form .form-row select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.hero .search-box form .form-row.full {
  width: 100%;
}
.hero .search-box form .btn-search {
  width: 100%;
  padding: 10px;
  background: #8bc53f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}
.hero .search-box form .btn-search:hover {
  background: rgb(102.976744186, 141.8790697674, 22.1209302326);
}/*# sourceMappingURL=estilos.css.map */